.footer-area {
  /* margin-top: 300px ; */
  margin:300px auto 0px 0px;
  background-color: rgb(248, 241, 240);
  /* background-color:rgb(245, 231, 229); */
}

.top-footer {
  border-bottom: 1px #000 solid;
  font-size: 16px;
  padding: 20px 5%;
}
.middle-footer {
  font-size: 16px;
}

.down-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
}

.search {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-right: 20px;
}

.search:hover {
  text-decoration: underline black;
}

@media screen and (max-width: 640px) {
  .search {
    font-size: 10px;
    display: flex;
    
  }

  .middle-footer {
    display: none;
  }

  .top-footer {
    font-size: 10px;
  }

  
}
